@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
*{
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
}
html{
  scroll-behavior: smooth;
}

/*SECCION ENCABEZADO*/

.inicio {
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
    background-size: cover;
    background-position: center center;
    color: rgb(255, 255, 255);
    text-align: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animation 100s linear infinite;
  }
  
  @keyframes animation {
     100%{
      background-position:0px -3000px;
    }
  }

/* SECCION INICIO */
.inicio .contenido-seccion{
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding: 0 10px;
}
.inicio .contenido-seccion .info{
  max-width: 1000px;
  margin: auto;
  text-align: right;
  padding: 0 10px;
}

.inicio .contenido-seccion .info .redes i{
  max-width: 1000px;
  margin: auto;
  text-align: right center;
  padding: 0 10px;
}
.inicio .contenido-seccion header{
    width: 90%;
    max-width: 75em;
    margin: auto;
    overflow: hidden;
    padding: 30px;
}
/* menu lateral */
.inicio .contenido-seccion header nav{
  position: fixed;
  margin-left: 60px;
  background-color: #000000;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
  z-index: 99;
  display: none;
}
.inicio .contenido-seccion header nav a{
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: bold;
}

  /* ************** */

  .inicio .contenido-seccion header .logo{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Yellowtail";
    text-shadow: 0 0 35px #ff0000;
  }

  .inicio .contenido-seccion header .logo .color{
    color: rgb(185, 35, 35);
    font-family: "Yellowtail";
  }

  .inicio .contenido-seccion header .nav-bar{
    position: absolute;
    background-color: #000000;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
  }

  .voice{
    text-align: center;
    position: absolute;
    background-color: #000000;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
  }
/**animacion del bottom*/
  .inicio .contenido-seccion header .nav-bar:hover{
    box-shadow: 0 0 35px rgb(0, 0, 0)
  }

  .inicio .contenido-seccion .info{
    padding-bottom: 130px;
  }

  .inicio .contenido-seccion .info h1{
    font-size: 2.5rem;
    letter-spacing: 5px;
  }

  .inicio .contenido-seccion .info h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
  }

  .inicio .contenido-seccion .info .redes{
    margin: 20px 0;
  }

  .inicio .contenido-seccion .info .redes a{
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: rgb(197, 19, 19);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .3s;
  }

  .inicio .contenido-seccion .info .redes a:hover{
    color:rgb(0, 0, 0);
    background-color:rgb(248, 247, 247);
    box-shadow: 0 0 20px rgb(0, 0, 0);
  }
  .inicio .contenido-seccion .foto{
    position: relative; 
  }
  
  .inicio .contenido-seccion .foto img{
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid rgb(105, 100, 100);
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
    transition: transform 0.3s ease-in-out;
    
  }
/*Div Animacion*/
.wrapper{
  text-align: auto;
  width: 100%;
  height: 100%;
  justify-content: left;
  align-items: left;
  padding: 0 01%;
  overflow:  auto;
}
.cols{
  width: 10%;
}

.cols0{
 width: 60%;
 z-index: 5;
}

.topline{
  text-align: left;
  display: block;
  position: relative;
  font-size: 35px;
  letter-spacing: 5px;
  color: #a7a7a7;
}

.topline::after{
  text-align: left;
  position: absolute;
  content: '';
  height: 4px;
  width: 45px;
  bottom: 10px;
  background-color: #fff;
}

h4{
  text-align: left;
  display: block;
  font-size: 2.7rem;
  letter-spacing: 5px;
  color: #000000;
}

.multiText{
  color: #fff;
  text-transform: capitalize;
}


/*SECCION INFORMACION*/
.titulo-seccion{
  font-family: "Yellowtail";
  font-size: 1.5rem;
}

.sobremi{
  background-color: #e6e6e6;
  padding: 140px 0 100px 0;
  text-align: center;
}

.sobremi .contenido-seccion{
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
}

.sobremi .contenido-seccion h3{
  text-transform: uppercase;
  font-size: 30px;
}

.sobremi .contenido-seccion .especial{
  color: rgb(197, 19, 19);
  text-shadow: 0 0 20px #000000;
  font-weight: bold;
  margin-top: 15px;

}

.sobremi .contenido-seccion p{
  max-width: 700px;
  margin: auto;
  color: #333232;
}

.sobremi .contenido-seccion .fila{
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.sobremi .contenido-seccion .fila .col{
  width: 30%;
}
/* Agrega una animación de escala solo al hacer hover en los elementos .col */
.col {
  transition: transform 0.3s ease-in-out;
}

.col:hover {
  transform: scale(1.1); /* Cambia el valor de escala para ajustar la animación */
}




.sobremi .contenido-seccion .fila .col i{
  color: #ff0000;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(197, 19, 19);
  line-height: 40px;
  border-radius: 50%;
}

.sobremi .contenido-seccion .fila .col span{
  display: block;
  font-weight: bold;
  margin: 8px 0
}

/*SECCION HABILIDADES*/
.habilidades{
  padding: 80px 0 100px 0;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
  url("habilidadesCompletar.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  color: #fff;
}
.habilidades .contenido-seccion{
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
}
.habilidades .contenido-seccion h3{
  text-transform: uppercase;
  font-size: 30px;
}
.habilidades .contenido-seccion .fila{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.habilidades .contenido-seccion .fila .col{
  width: 47%;
  text-align: left;
}
.habilidades .contenido-seccion .fila .col .cont-barra{
  display: flex;
  align-items: center;
}
.habilidades .contenido-seccion .barra{
  display: flex;
  border: 1px solid rgb(197, 19, 19);
  padding: 2px;
  border-radius: 3px;
  margin-right: 10px;
}
.habilidades .contenido-seccion .barra .e{
  background-color: #6e6565;
  width: 20px;
  height: 30px;
  margin-right: 2px;
}
.contacto{
  background-color: #524d4d;
  padding: 140px 0 100px 0;
  color: #e6e6e6;
  text-align: center;
}
.contacto .contenido-seccion{
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
}
.contacto .contenido-seccion h3{
  text-transform: uppercase;
  font-size: 30px;
}
.contacto .contenido-seccion .fila{
  display: flex;
  justify-content: space-around;
}
.contacto .contenido-seccion .fila .col{
  margin-top: 50px;
}
.contacto .contenido-seccion .fila .col h2{
  color: #572020;
}


/*BOTON DESPLAZAMIENTO*/
#myBtn {
  display: none; /* Oculta el botón por defecto */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(58, 54, 54);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #333;
}

/* Muestra el botón después de desplazarse hacia abajo 20px */
@media screen and (max-width: 768px) {
  #myBtn {
    bottom: 30px;
    right: 20px;
  }
}

/* Icono del botón */
.fa-chevron-up {
  transform: rotate(-45deg);
}

/* SECCION RESPONSIVE */
@media screen and (max-width:700px){
  .habilidades .contenido-seccion .fila{
      display: initial;

  }
  .habilidades .contenido-seccion .fila .col{
      width: 100%;
      text-align: center;
  }
  .habilidades .contenido-seccion .fila .col .cont-barra{
      justify-content: center;
  }
  .sobremi .contenido-seccion .fila{
      display: block;
  }
  .sobremi .contenido-seccion .fila .col{
      width: 80%;
      margin: auto;
      margin-top: 20px;
  }
  .resumen .contenido-seccion .info{
      display: block;
  }
  .resumen .contenido-seccion .info .col{
      width: 90%;
      margin: auto;
  }
  .resumen .contenido-seccion .info .col .titulo{
      display: block;
      text-align: center;
  }
  .resumen .contenido-seccion .info .col table{
      margin-top: 10px;
      margin-bottom: 30px;
  }
  .contacto .contenido-seccion .fila{
      display: block;
  }
}
